@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */

*{
    padding: 0px;
    margin: 0;
}
/* nav bar styles */
nav{
    font-family: Azeret Mono;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    margin-bottom: 25px;
    margin-top: 25px;

}

header{
    font-family: Azeret Mono;
}

.nav-title{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;

}
nav ul li{
    list-style: none;
    text-decoration: none;
    /* margin-right: 51px; */
    
}
/* nav li a{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
} */
.btn-primary{
    width: 228px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
     opacity: 0.8;
     font-size: 20px;
    font-weight: 600;
    
}


/* banner styles */
.banner{
    width: 1270px;
    height: 550px;
    /* border: 10px solid red; */
    margin: 0 auto;
    background-image: url(../assets/Hero-bg.png);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 35px;
    font-weight: 800;
    /* display: block;
    margin: auto; */
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
.banner-description{
    color: rgb(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    /* display: block;
    margin: auto; */
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    
}
.btnn-primary{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    width: 180px;
    height: 50px;
    /* padding: 21px 24px 21px 24px; */
    /* justify-items: center; */
    display: block;
    margin: auto;
    /* padding-left: 550px; */

}
/* .banner-content{
    gap: 25px;
} */
.banner-content a{
    text-decoration: none;
}

/* main section styles */

main{
    max-width: 946px;
    margin: 0 auto;
    /* border: 5px solid red; */
    font-family: Azeret Mono;
}

.devlopment-section{
    margin-top: 70px;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.btn-learn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    width: 228px;
    height: 58px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
     opacity: 0.7;
     font-size: 20px;
    font-weight: 600;
    
}
.dev-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0px 200px; */
    padding: 35px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

}
.dev-section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0px 200px; */
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-top: 28px;
    margin-bottom: 28px;
}

.section-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;    
}
.section-description{
    color: rgb(13, 19, 33,0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.dev-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.devlopment-section h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}

/* inspiration section started */
.inspiration{
    margin-top: 45px; 
    padding-right: 120px;
    padding-left: 120px;
    margin-bottom: 50px;
}
.video{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    
}
.videeo{
    padding: 25px;
    /* border-radius: 16px; */
    border-radius: 35px;

}

/* next target section styles started */

.target{
    margin-top: 0px; 
    padding-right: 120px;
    padding-left: 120px;
    margin-bottom: 60px;
}

.target-content{
    display: flex;
    gap: 24px;
    

}
.target-content h4{
    color: rgb(13, 19, 33); 
    font-size: 24px;
    font-weight: 800; 
}
.target-content p{
    color: rgb(13, 19, 33,0.7);
    font-size: 16px;
    font-weight: 400;
}
.target-content a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}
.target-box1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 35px;
}
.target-box2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 35px;
}
.target-box3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 35px;
}
/* support section started */

.support{
    width: 700px;
    height: 200px;
    margin: 0 auto;
    background-image:linear-gradient( rgba(0, 0, 0,0.2),rgba(0, 0, 0,0.2),rgba(0, 0, 0, 0.2)),url(../assets/handshake.jpg);

    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: 700px 200px;
    margin-bottom: 60px;
    
}
.support-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}
.support-content h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 700;
}
.support-content p{
    color: rgb(255, 255, 255,0.7);
    font-size: 10px;
    font-weight: 400;
    
}
.box{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    
}
.box2{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 600;
}

/* footer styles  */
footer{
    font-family: "Azeret Mono", monospace;
}
#foot{
    width: 1270px;
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

.insta{
    width: 36px;
    height: 36px;
}
.foot-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-top: 30px;
}

.foot-content h4{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    
}